body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:#EAEDF2 !important;
  overflow-x: hidden;
}
*{
  font-family: "DM Sans", sans-serif;
}

button:focus,
.btn:focus {
  outline: none !important;
  box-shadow: none !important;

}
